
body {
    font-family: 'Acrom', sans-serif;
	background: #fff;
    color: #000;
}
a {
    color: #000;
}
 
ul.nav-menu {
    display: flex;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.al-center {
    align-items: center;
}
.sp-between {
    justify-content: space-between;
}
.sp-end {
    justify-content: flex-end;
}
.wrap {
    flex-wrap: wrap;
}
.f-start {
    align-items: flex-start;
}